@tailwind base;
@tailwind components;
@tailwind utilities;
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.personal{
         cursor: pointer;
}
@font-face {
    font-family: iran;
    src: url("../font/iran.ttf") format("opentype");
}
