
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
